<p id="notice"><%= notice %></p>

<p>
  <strong>Release:</strong>
  <%= @installation.release %>
</p>

<%= link_to 'Edit', edit_installation_path(@installation) %> |
<%= link_to 'Back', installations_path %>
