<h1>Release Calendar</h1>
<%= month_calendar events: @releases do |date, releases| %>
  <%= date %>
  
  <% releases.each do |release| %>
    <div>
      <span class="label cal-label " style="background-color:<%=release.reltype.color %>"><%= link_to release.system.short+"-"+release.rel, release , class: "cal-link" %></span> 
    </div>
  <% end %>
<% end %>  

