
<h2>Installation in progress</h2>

<div class="row">
    <div class="col-md-12 well">
        <table  class="table table-bordered">
  <thead>
    <tr>
      <th>Release</th>
      <th>Env</th>
      <th>Created</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @installations.each do |installation| %>
      <tr>
        <td><%= installation.release %></td>
        <td><%= installation.environment.name %></td>
       <td><%= installation.created_at.strftime("%d-%m-%Y %H:%M:%S")  %></td>
       <td><%= link_to 'Work it  <i class="fa fa-wrench"></i> '.html_safe, '/my_installation/viewinstall/' + installation.id.to_s , class:"btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
</div>
