<p id="notice"><%= notice %></p>


<div class="row" style="text-align: center"><div class="col-md-12">
  <h1>Listing Environments</h1>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Environment</th>
      <th>Installation</th>
      <th>Info</th>
    </tr>
    </thead>
    <tbody>
    <% @environments.each do |environment| %>
        <tr>
          <td>
            <strong><%= environment.name %></strong>
          </td>
          <td>
            <%= link_to  "View Installations ", '/my_environment/status?env_id='+environment.id.to_s   , class:"btn btn-xs btn-primary" %>
          </td>
          <td>
            <%= link_to "View Info ",'/my_environment/info?env_id='+environment.id.to_s , class:"btn btn-xs btn-success"  %>
          </td>
        </tr>

    <% end %>
    </tbody>

  </table>


</div></div>

<br>


