<p id="notice"><%= notice %></p>
<h2>Team skill proficency</h2><small> <%= link_to "New skill", new_skill_path %></small>
<div class="row">
  <div class="col-md-12">

    <%= react_component("SkillTableApp", props:{ skills:@skills,profiles:@profiles,currentUser:current_user}, prerender: false) %>


  </div>
</div>


