<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Main</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Release</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"><%= react_component("ChatApp", props: {currentUser: current_user,channel:'main' }, prerender: false) %></div>
    <div role="tabpanel" class="tab-pane" id="profile"><%= react_component("ChatApp", props: {currentUser: current_user,channel:'release' }, prerender: false) %></div>
  </div>

</div>


