<p id="notice"><%= notice %></p>

<h1>Listing Outbound WebServices</h1>
 <div class="row">
   <div class="col-md-12 well">
  <table style="table-layout:fixed" class="table datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Int endpoint</th>

    </tr>
  </thead>

  <tbody>
    <% @webservices.each do |webservice| %>
      <tr>
        
        <td><%= link_to webservice.name , webservice %></td>
        <td style="overflow:hidden"><%= webservice.int_endpoint[0..70] %></td>
      

      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<script>
    
$(function() {
    $('.datatable').DataTable({});
});
</script>