/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  */
@import "bootstrap-sprockets";
@import "bootstrap";
//@import "bootstrap-material-design";
//@import "ripples";
@import "syntax-highlighter-rails/shCore";
@import "syntax-highlighter-rails/shThemeDefault";
@import 'select2-bootstrap';
@import "rails_bootstrap_forms";
@import "dropzone";
@import "simple_calendar";
@import "flatpickr.min";
@import "flatpickr.material_blue.min";
@import "commontator/comments";
@import "commontator/threads";

#query_statment{
    height:400px;
}

.tag{
    margin-right:2px;
    margin-left:2px;
    font-size:15px;
}
.tagsmall{
    margin-right:2px;
    margin-left:2px;
    font-size:10px;
}

.titlequery{
    margin-bottom:20px;
}

.rnoutcome{
    font-size:12px;
    width:100%;
    height:250px;
}
