                <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-plus"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
                
                <% if a.owner %>
                 <h4 class="timeline-title"> Created query <%= link_to a.trackable.title , "/my_query/show/"+ a.trackable.id.to_s %> </h4>
            <% end %>
             
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Created by : <%= a.owner.email %> <%= a.trackable.created_at %></small></p>
            </div>
          </div>
        </li>