<h1>Editing Installation Template</h1>

<div class="row">
    <div class="col-md-12 well">
        <%= render 'form' %>
    <%= react_component("TemplateApp", props: {currentUser: current_user,template: @rel_template }, prerender: false) %>

    </div>
</div>

