<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rel_template.name %>
</p>

<%= link_to 'Edit', edit_rel_template_path(@rel_template) %> |
<%= link_to 'Back', rel_templates_path %>
